*{
  padding:0;
  margin:0;
  border:0;
}


body{
    padding-top: 50px;
  background: yellow;
  text-align:center;
}

span {
    color: red;
}


.label {
    color: black;
}


.form-group {
    width:500px;
}